html {
  height: 100%;
  width: 100%;
}


body {
  background-color: white;
  color: black;
  text-align: center;
  color: black;
  padding-top: 70px;
  font-family: 'Roboto', sans-serif;

  background-size: cover;
  background-position: center;

}

* { color: black; text-decoration: none;}

.information {
  background-color:red;
  border: 5px solid blue;
  height: 400px;
}
.activity {
  background-color: green;
  border: 5px solid black;
  height: 100px;
}


a {
  color: white;
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-family: 'Roboto', sans-serif;
}
#boldedHeader {
  font-weight: bold;
  font-size: 1.5em;
}

.navbar, .navbar-default, .navbar-fixed-top {

  background-color: white;
  border: 0px solid red;
  font-size: 1.5em;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: transparent;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {

  font-size: 1.6em;
}

.container {
  width: 95%;
}

.nav-pills>li>a {
  background-color: transparent;
  color: black;
}
.nav-pills>li>a:hover {
  background-color: transparent;
  color: gray;
}



/*.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {

  background-color: red;
}*/
